---
import { Icon } from "@components";
import { path } from "@lib/js/path";

const { locale } = Astro.params;
const {
  __typename = "",
  icon,
  iconOnly,
  style = "none",
  title,
  description,
  link,
  ...props
} = Astro.props;

let href = "";

switch (link?.__typename) {
  case "HomeRecord":
    href = `/${locale}/`;
    break;
  case "PageRecord":
    href = `/${locale}/${path(link)}`;
    break;
  case "ExternalLinkRecord":
    href = link.link;
    break;
  default:
    href = link;
    break;
}
---

<a class=`link link--style-${style} ${props["class"]}` {href} {...props}>
  {icon && <Icon class="link__icon" name={icon} />}
  <span class:list={["link__title", { "a11y-sr": iconOnly }]}>{title}</span>
</a>

<style>
  .link--style-button {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-base);
    border: 1px solid var(--color-primary);
    padding: var(--spacing-md);
    color: inherit;
    line-height: 1;
    text-decoration: none;
  }

  .link--style-button:hover {
    background-color: var(--color-hover);
  }
</style>
